#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  font-family: monospace;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 720px 1fr;
  grid-template-areas:
    "header main"
    "hr main"
    "aside main";
}

body {
  margin: 0;
  background: rgb(233, 237, 233);
}

header {
  padding: 20px;
  grid-area: header;
}

aside {
  padding: 20px;
  grid-area: aside;
}

hr {
  grid-area: hr;
  border: 1px solid black;
  margin: 2em 0;
}

#root>hr {
  margin: 0 20px;
  width: calc(100% - 40px);
}

main {
  grid-area: main;
  padding: 20px;
  box-sizing: border-box;
}

main>* {
  position: sticky;
  height: calc(100vh - 40px);
}

h1,
h2 {
  font-family: sans-serif;
  font-weight: 500;
  line-height: 1em;
}

h1 {
  font-size: 42px;
  letter-spacing: -1.68px;
  margin: 32px 0;

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 2em 0 1em;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}

code,
.counter {
  font-family: "monospace";
  display: inline-flex;
  border-radius: 4px;
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: #eee;
}

header {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  flex-wrap: wrap;
}

header>* {
  width: 33%;
  height: auto;
  flex-shrink: 0;
  max-width: 100%;
}

.cms-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "list new";
  gap: 30px;
  align-items: start;
}

.cms-layout>:nth-child(1) {
  grid-area: list;
}

.cms-layout>:nth-child(3) {
  grid-area: new;
}

.title {
  display: inline-block;
  font-family: monospace;
  font-weight: bold;
  color: "#000";
  font-size: 14;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-bottom: 0.5em;
  border-bottom: 2px dotted black;
}

.title+button {
  display: block !important;
}

footer {
  margin: 3em 0 5em;
}

@media (max-width: 1280px) {
  #root {
    min-width: 0;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "hr"
      "main"
      "aside"
  }

  #root>* {
    max-width: 100%;
  }

  header>.logo {
    max-width: 237px;
  }

  header>* {
    width: 100%;
  }

  main {
    height: 70vh;
  }

  main>* {
    position: relative;
    height: 100%;
  }
}

@media (max-width: 720px) {

  .work-items-layout,
  .concepts-layout {
    grid-template-columns: 1fr;
  }

  .horizontal-divider {
    display: none;
  }
}

@media (max-width: 540px) {
  header {
    display: block
  }
}

@keyframes panBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}