#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  font-family: monospace;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 720px 1fr;
  grid-template-areas:
    "header main"
    "hr main"
    "aside main";
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(233, 237, 233);
}

header {
  padding: 20px;
  grid-area: header;
}

aside {
  padding: 20px;
  grid-area: aside;
}

hr {
  grid-area: hr;
  border-top: 2px dashed rgba(0, 0, 0, 0.7);
  border-bottom: none;
  margin: 2em 0;
}

#root>hr {
  margin: 0 20px;
  width: calc(100% - 40px);
}

main {
  grid-area: main;
  padding: 20px;
  box-sizing: border-box;
}

main>* {
  position: sticky;
  height: calc(100vh - 40px);
}

h1,
h2 {
  font-family: sans-serif;
  font-weight: 500;
  line-height: 1em;
}

h1 {
  font-size: 42px;
  letter-spacing: -1.68px;
  margin: 0.5em 0;

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 2em 0 1em;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p,
h3,
ul,
code {
  margin: 1em 0;
}

code,
.counter {
  font-family: monospace;
  display: inline-flex;
  border-radius: 4px;
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: #eee;
}

header {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  flex-wrap: wrap;
}

header>* {
  width: 33%;
  height: auto;
  flex-shrink: 0;
  max-width: 100%;
}

.cms-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "list new";
  gap: 30px;
  align-items: start;
}

.cms-layout>:nth-child(1) {
  grid-area: list;
}

.cms-layout>:nth-child(3) {
  grid-area: new;
}

.title {
  display: inline-block;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid black;
}

.title+button {
  display: block !important;
}

.list-input {
  border: 2px solid black;
  border-radius: 4px;
  background: white;
  max-height: 240px;
  overflow: auto;
  width: 100%;
}

.list-id {
  flex-shrink: 0;
  font-style: italic;
  width: 300px;
}

.option2>.list-id {
  width: 120px;
}

.list-tooltip {
  font-size: 11px;
  white-space: wrap;
  padding: 0 5px;
}

.graph-node {
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid black;
  font-family: monospace;
  font-size: 12;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
}

.graph-node:hover {
  transform: scale(1.02);
  transition: transform 0.2s;
}

button:hover,
.list-input>.option:hover {
  background-color: #eee !important;
  color: #000 !important;
}

.option,
.option2 {
  border-bottom: 1px solid black;
  padding: 6px;
  font-family: monospace;
  align-items: center;
  display: flex;
  cursor: pointer;
  gap: 6px;
}

footer {
  margin: 3em 0 5em;
}

@media (max-width: 1280px) {
  #root {
    min-width: 0;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "hr"
      "main"
      "aside"
  }

  #root>* {
    max-width: 100%;
  }

  header>.logo {
    max-width: 237px;
  }

  header>* {
    width: 100%;
  }

  main {
    height: 70vh;
  }

  main>* {
    position: relative;
    height: 100%;
  }
}

@media (max-width: 720px) {
  .cms-layout {
    grid-template-columns: 1fr;
    grid-template-areas: "list" "new";
  }

  .option,
  .option2 {
    display: block;
  }

  .list-id {
    width: 100%;
  }

  .horizontal-divider {
    display: none;
  }
}

@media (max-width: 540px) {
  header {
    display: block
  }

  .list-tooltip {
    display: none;
  }
}

@keyframes panBackground {
  from {
    background-position: 0% 50%;
  }

  to {
    background-position: 100% 50%;
  }
}

@keyframes fadeInBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.graph-background-fade-in {
  animation: fadeInBackground 1.2s ease-out forwards, panBackground 8s ease-in-out infinite alternate;
  animation-fill-mode: forwards, both;
}
